.header {
    padding-top: 24px;
    padding-bottom: 25px;

    &_container {
        @include containerProperties;
        display: flex;
        justify-content: space-between;
    }

    &_right {
        &--side {
            display: flex;
            gap: 30px;

            &--part {
                display: flex;
                gap: 10px;
                align-items: center;

                svg {
                    transition: .5s;
                }

                &:hover {
                    cursor: pointer;

                    svg path {
                        fill: #2196f3;
                        transition: .5s;
                    }

                    a {
                        color: #2196f3;
                    }
                }
            }

        }

        &--mobile--menu {
            display: none;

            &--list--wrapper {
                position: fixed;
                right: 0;
                top: 0;
                width: 250px;
                height: 100vh;
                background-color: #2196F3E6;
                display: flex;
                justify-content: center;
                align-items: center;
                transform: translateX(100%);
                transition: transform 1s ease-in-out;
            }

            &--list {
                display: flex;
                flex-direction: column;
                padding: 15px;
                gap: 20px;
                color: beige;
                font-size: 20px;
                a {
                    color: beige;
                }
            }
        }

        &--link {
            @include headerRightPart;

            &:hover {
                transition: .5s;
                color: #2196f3;
            }

            &:first-child {
                margin-right: 50px;
            }
        }
    }



    &_left {
        &--side {
            display: flex;
        }

        &--image {
            margin-right: 93px;
        }
    }

    &_navigation {
        display: flex;
        align-items: center;

        &--items {
            @include headerLink;

            &:not(:last-child) {
                margin-right: 50px;
            }

            &:first-child {
                position: relative;
                color: #2196F3;

                &::after {
                    content: "";
                    width: 48px;
                    height: 4px;
                    border-radius: 2px;
                    background-color: #2196F3;
                    display: block;
                    top: 41px;
                    position: absolute;
                }


            }

            a {
                transition: .5s;

                &:hover {
                    transition: 0.5s;
                    color: #2196f3;
                }
            }
        }
    }

}

@import "../adaptive/header-adaptive";
